<% provide(:title, "♪(^∇^*)") %>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron well">
				<h2>
					联系和反馈
				</h2>
				<p>
					千语，汇聚千万人的内心言语，是你最贴心的聆听人。
					在使用过程中遇到问题，请联系我们。
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>小蔡</h2>
			<p align="center">
			    邮箱:2682136509@qq.com<br>
			    电话：88888888
			</p>
			<!--<p><a class="btn" href="#">View details »</a></p>-->
		</div>
		<div class="col-md-4 column">
			<h2>小张</h2>
			<p align="center">
			    邮箱:<br>
			    电话：88888888
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>小丽</h2>
			<p align="center">
			    邮箱:<br>
			    电话：88888888
			</p>
		</div>
	</div>
</div>