<h1>密码重置</h1>
<p>亲爱的<%= @user.username %>，欢迎使用千语网！</p>
<p>打开<%= link_to "此链接", edit_password_reset_url(@user.reset_token,
email: @user.email) %>重置密码</p>

<p>此链接有效期两小时。</p>
<p>如果不需要重置密码，请忽略这封邮件，您的密码将不会更改。</p>

