      <h2> <div class="fakeimg">
        <%= link_to image_tag("qianyuwang.png", alt: "千语logo") %></h2>
      <h2>千人千语</h2>
      <p class="text-indent"><strong>
        千语网是一个基于用户关系信息分享和获取简短实时信息的社交网络平台。
        你可以通过邮箱注册，关注其他用户后可以获取其他用户的最新动态。
        你可以以文字、图片的形式分享自己的最新动态和真情实感。
      </p></strong>
      <p align="center"><strong>
        没有人是一座孤岛，<br>
        欲说还休 欲说还休 却道天凉好个秋<br>
        纵有千言万语 更与何人说<br>
        我心里有千言万语 有满腔的诗意 当我凝望着你 却一字未提<br>
        心有千千言 竟无语凝噎<br>
        千语，汇聚千万人的内心言语，是你最贴心的聆听人。<br>
      </p></strong>