
<!--回复的回复-->
<%= form_for( comment.replies.build)  do |f| %>
  <!-- 评框的id为co-point，id后面不需要加上每个回复的id，因为评论框会出现在页面最下方，与每个评论的位置没有关系 -->
  <div><%= hidden_field_tag :replied_id, reply.user_id %></div>
  <div><%= hidden_field_tag :comment_id, comment.id %></div>
  <div class="comment-form reply-from" id="co-reply<%= reply.id %>" 
          style="display:none;">
    <input type="text" name="content" placeholder="写下你的回复..." class="comment-text">
    <div class="comment-submit">
      <input type="submit" value="回复" class="submit-issue-button btn btn-primary">
    </div>
  </div>
<% end %>


